@charset "UTF-8";
/* Estilos para las secciones con la clase .cuadrado */
.cuadrado {
  border-radius: 20px;
  border: 2px solid red;
  display: flex;
  flex-direction: column; /* Establece la dirección del flexbox como columna */
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 20px; /* Ajusta el espacio entre el contenido y el borde del cuadrado */
  margin: 10px; /* Ajusta el espacio entre los cuadrados */
  width: 90%; /* Ajusta el ancho al 90% del contenedor */
  max-width: 300px; /* Establece el ancho máximo */
  min-width: 200px; /* Establece el ancho mínimo */
  height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
}

.cuadrado h2 {
  margin-bottom: 10px; /* Agrega espacio entre el título y el texto */
}

/* Estilos para las secciones con la clase .cuadrado.servicios */
.cuadrado.servicios {
  border-radius: 20px;
  border: 2px solid red;
  display: flex;
  flex-direction: column; /* Establece la dirección del flexbox como columna */
  align-items: left; /* Ajusta el alineamiento de los elementos hijos a la izquierda */
  justify-content: left; /* Ajusta la justificación de los elementos hijos a la izquierda */
  text-align: left;
  padding: 20px; /* Ajusta el espacio entre el contenido y el borde del cuadrado */
  margin: 10px; /* Ajusta el espacio entre los cuadrados */
  width: 90%; /* Ajusta el ancho al 90% del contenedor */
  max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
}

/* Estilos para las secciones con la clase .cuadrado.contacto */
.cuadrado.contacto {
  border-radius: 20px;
  border: 2px solid red;
  width: 90%; /* Ajusta el ancho al 90% del contenedor */
  max-width: 600px; /* Establece el ancho máximo */
  margin: 20px auto; /* Centra el cuadro horizontalmente y agrega margen arriba y abajo */
  padding: 20px; /* Agrega relleno al cuadro */
  display: flex;
  flex-direction: column; /* Establece la dirección del flexbox como columna */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cuadrado.contacto form {
  width: 100%; /* Ajusta el ancho del formulario al 100% del cuadro */
  margin-top: 20px; /* Agrega espacio arriba del formulario */
}

.cuadrado.contacto form li {
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
}

.cuadrado.contacto label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.8em; /* Ajusta el tamaño del texto */
}

.cuadrado.contacto input,
.cuadrado.contacto textarea {
  width: calc(100% - 10px); /* Ajusta el ancho con margen */
  padding: 5px;
  margin-bottom: 10px; /* Agrega espacio entre los campos de entrada */
}

.cuadrado.contacto button {
  width: 100%;
  padding: 10px;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #333;
}

section p {
  color: #666;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para la galería de imágenes */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las miniaturas */
}

.miniatura {
  max-width: 20%; /* Establece el ancho máximo de cada miniatura */
  height: auto; /* Mantiene la proporción */
  border: 2px solid black; /* Establece el borde negro */
}

/*# sourceMappingURL=styles.css.map */
